#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define DEFAULT 0
#define LEFTONE   1
#define LEFTTWO   2
#define RIGHTTWO  3
#define RIGHTONE  4

&lt {
    tapping-term-ms = <100>;
};
/ {
    keymap{
        compatible = "zmk,keymap";

        default_layer{
            bindings = <
//1
            &lt 1 E
//2
            &lt 1 T
//3
            &lt 1 A
//4
            &lt 1 O
//5
            &lt 1 I
//6
            &lt 2 N
//7
            &lt 3 S
//8         
            &lt 4 H
                
            >;
        };
        leftone_layer{
            bindings = <
//1
            &kp R
//2
            &kp L
//3
            &kp D
//4
            &kp U
//5
            &trans
//6
            &trans
//7
            &trans
//8         
            &trans
                
            >;
        };
    lefttwo_layer{
            bindings = <
//1
            &kp M
//2
            &kp C
//3
            &kp W
//4
            &kp F
//5
            &trans
//6
            &trans
//7
            &trans
//8         
            &trans
                
            >;
        };
        righttwo_layer{
            bindings = <
//1
            &kp M
//2
            &kp C
//3
            &kp W
//4
            &kp F
//5
            &trans
//6
            &trans
//7
            &trans
//8         
            &trans
                
            >;
        };
        rightone_layer{
            bindings = <
//1
            &kp V
//2
            &kp K
//3
            &kp Q
//4
            &kp J
//5
            &trans
//6
            &trans
//7
            &trans
//8         
            &trans
                
            >;
        };

    };
};